img {
    object-fit: cover;
    background-repeat: no-repeat;
}

#mobile {
    display: none;
}

:root {
    --duration: 15s;
}

.wrapper-container {
    overflow: hidden;
    width: 100%;
    height: 120vh;
    background-color: rgba(81, 81, 206, 0.81);

}

.wrapper-images {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(0deg) rotateX(0deg);

}

.images-line {
    animation: runner var(--duration) linear infinite;
    display: flex;
    transform: translateX(23%);

}

.images-line:nth-child(even) {
    animation-duration: calc(var(--duration) * 1.5);
}

.line {
    background-position: 50% 50%;
    background-size: cover;
    flex: none;
    height: 29vh;
    margin: clamp(10px, 2vw, 20px);
    width: 20vh;
    position: relative;
    transition: ease-in-out all 0.3s;
    border-radius: 1rem;

}

.line:after {
    content: "";
    background: inherit;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 3vh;
    position: absolute;
    background-size: cover;
    z-index: -1;
    transition: ease-in-out all 0.3s;
    filter: blur(25px) opacity(0.8);
}

.line:hover .img {
    cursor: pointer;
    transform: scale(1.5) translatez(0px);

}

.line:after {
    filter: blur(35px) opacity(0.8);
}

.images-line .img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background-size: cover;
    transition: ease-in-out all 0.3s;
    overflow: hidden;
    border-radius: 1rem;
}


@keyframes runner {
    to {
        transform: translateX(-10.4%);
    }
}

/*Dev*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

.dev {
    font-family: "Poppins", sans-serif;
    position: fixed;
    font-size: clamp(8px, 3vw, 14px);
    bottom: 1vw;
    left: 1vw;
    padding: 1em;
    color: #111;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    z-index: 100;


}

a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
    transition: ease all 0.3s;


}

a:hover {
    color: #ef5350;
    text-decoration: underline;

}



@media screen and (max-width:1150px) {
    #mobile {
        display: flex;
    }

    .wrapper-container {
        overflow: hidden;
        width: 100%;
        height: 95vh;
    }

    .wrapper-images {
        overflow: hidden;
        width: 90%;
        margin-top: 0%;

    }

    .wrapper-images .line {
        width: 10vh;
        height: 15vh;


    }

    .wrapper-images .line:hover .img {

        cursor: pointer;
        transform: scale(1.2) translatez(0px);
        z-index: 56;

    }
}

@media screen and (max-width:1290px) {
    #mobile {
        display: flex;
    }

    .wrapper-container {
        overflow: hidden;
        width: 100%;
    }

    .wrapper-images {
        overflow: hidden;
        width: 100%;
        margin-top: 0%;


    }

    .wrapper-images .line {
        width: 10vh;
        height: 15vh;

    }

    .wrapper-images .line:hover .img {

        cursor: pointer;
        transform: scale(1.4) translatez(0px);
        z-index: 56;

    }
}