* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: visible;
}

.ulasım {
  width: 40px;
  height: 100px;
  position: fixed;
  z-index: 66544;
  right: 10px;
  bottom: 20px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ulasım .ulasım_instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 35px;
  background-color: #E1306C;
  color: white;
  border-radius: 50%;
}

.ulasım .ulasım_whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 35px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
}



ul li #animation:focus,
ul li #animation:hover {
  color: #fff;
}

ul li #animation:focus:after,
ul li #animation:hover:after {
  width: 100%;
  left: 0%;
}

ul li #animation:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}