ul li #animation:focus,
ul li #animation:hover {
  color: #fff;
}

ul li #animation:focus:after,
ul li #animation:hover:after {
  width: 100%;
  left: 0%;
}

ul li #animation:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}