*{
    margin: 0px;
    padding: 0px;
    
}
.alan{
    
    margin-top: 50px;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.alan .alann{
    border-radius: 20px;
    width: 600px;
    height: 550px;
    transition: 2;
    overflow: hidden; 
}

.alan .alann img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 1s;
}
.alan .alann img:hover{
    transform: scale(1.2);
    border-radius: 20px;
    object-fit: cover;
}


.navbar{
    position:fixed; top: 0;
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    z-index: 9999;
}
.navbar .menü{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.navbar .menü ul {
    font-size: 10px;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menü ul li{
    list-style-type: none;
    margin: 10px;
    font-size: 25px;
}
.navbar .menü ul li:hover{
    color: rgb(188, 184, 184);
    cursor: pointer;
}
.navbar .close ul li:hover{
    color: rgb(188, 184, 184);
    cursor: pointer;
}
.navbar .close{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.navbar .close ul {
    font-size: 25px;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .close ul li{
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
}


.toggle:checked + .barss {
    position: absolute;
    top: -200px;
    transition-duration: .5s;
  }
.navbar .menü ul li {
    position: relative;
    right: 15px;
}
@media (max-width:1265px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        background-color: black;
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .alann{
        border-radius: 20px;
        width: 500px;
        height: 550px;
        transition: 2;
        overflow: hidden;
    }
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }
 }



 @media (max-width:1075px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        background-color: black;
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .alann{
        border-radius: 20px;
        width: 400px;
        height: 550px;
        transition: 2;
        overflow: hidden;
    }
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
 }


 @media (max-width:1075px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        background-color: black;
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .alann{
        border-radius: 20px;
        width: 300px;
        height: 550px;
        transition: 2;
        overflow: hidden;
    }
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
 }





@media (max-width:650px) { 
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        background-color: black;
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .alann{
        height: 310px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alan{
       margin-top: 20px;
        width: 100%;
        gap: 20px;
    }
}