*{
    margin: 0px;
    padding: 0px;
  
  }
  body{
    width: 100vw;
    height: 100vh;
  
  }
  .alan{
    margin-top: 50px;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .navbar{
    position:sticky; 
    top: 0;
    color: white;
    background: linear-gradient(50deg, white,rgb(98, 98, 228), blue);
    display: flex;
    width: 100vw;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    z-index: 9999;
  }
  .navbar .menü{
    display: flex;
    align-items: center;
    justify-content:space-around;
  }
  .navbar .logo img{
    width: 100px;
    height: 70px;
  }
  
  .navbar .menü ul {
    font-size: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .menü ul li a{
    text-decoration: none;
    margin: 10px;
    font-size: 17px;
    color: white;
   
  }
  .navbar .menü ul li a:hover{
    color: white;
    cursor: pointer;
  }
 
  .navbar .close{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .navbar .close ul {
    font-size: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .close ul li a{
    text-decoration: none;
    margin: 10px;
    font-size: 17px;
    color: white;
  }
  
  
  .toggle:checked + .barss {
    position: absolute;
    top: -200px;
    transition-duration: .5s;
  }
  .navbar .menü ul li {
    position: relative;
    right: 15px;
  }


  .buttonn {
    font-size: 2px;
    color: #fff;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .buttonn:focus,
  .buttonn:hover {
    color: #fff;
  }
  
  .buttonn:focus:after,
  .buttonn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .buttonn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


  @media (max-width:1265px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
        justify-content: space-between;
      
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        border: 1px solid dodgerblue;
        background: linear-gradient(100deg ,rgb(135, 91, 248), rgb(0, 0, 226));
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .card {
        width: 500px;
        height: min-content;
        transition: all .3s;
        position: relative;
        border-radius: .5rem 2rem;
        box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
      }
      
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    
  }
  
  @media (max-width:1051px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
      display: block;
  }     
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        border: 1px solid dodgerblue;
        background: linear-gradient(100deg ,rgb(135, 91, 248), rgb(0, 0, 226));
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .card {
        width: 450px;
        height: min-content;
        transition: all .3s;
        position: relative;
        border-radius: .5rem 2rem;
        box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
      }
      
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }
  }
  
  
  
  @media (max-width:1024px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
      display: block;
  }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        border: 1px solid dodgerblue;
        background: linear-gradient(100deg ,rgb(135, 91, 248), rgb(0, 0, 226));
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .card {
        width: 400px;
        height: min-content;
        transition: all .3s;
        position: relative;
        border-radius: .5rem 2rem;
        box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
      }
      
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
  }
  
  
  @media (max-width:820px) {
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        height: 400px;
        font-size: 25px;
        position: absolute;
        border: 1px solid dodgerblue;
        background: linear-gradient(100deg ,rgb(135, 91, 248), rgb(0, 0, 226));
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .card {
        width: 300px;
        height: min-content;
        transition: all .3s;
        position: relative;
        border-radius: .5rem 2rem;
        box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
      }
    .alan{
        margin-top: 50px;
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
  }
  
  
  
  
  
  @media (max-width:620px) { 
    .navbar{
        position:sticky; top:0px; left:0px; right:0px;
    }
    .navbar .logo{
        margin-left: 10px;
    }
    .barss{
        display: block;
    }    
    .navbar .menü ul {
        border-radius: 10px;
        width: 250px;
        border: 1px solid dodgerblue;
        height: 400px;
        font-size: 25px;
        position: absolute;
        background: linear-gradient(100deg ,rgb(135, 91, 248), rgb(0, 0, 226));
        top: 44px;
        right: -6px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: 0px;
        border-bottom-right-radius  : 0px;
        margin: 5px;
    }
    .navbar .close ul {
       display: none;
    }
    .alan .card {
        
        width: 350px;
        height:max-content;
        transition: all .3s;
        position: relative;
        border-radius: .5rem 2rem;
        box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
        bottom: 50px;
      }
    .alan{
       margin-top: 60px;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    .img-container .img img {
        object-fit: cover;
       width: 600px;
       height: 400px;
      }
    
      
  }
  /* From uiverse.io by @FrM-bot */
  
  .card {
    width: 600px;
    height: min-content;
    transition: all .3s;
    position: relative;
    border-radius: .5rem 2rem;
    box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .img {
    transition: all .3s;
    background: #ff0084;
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);
    background: linear-gradient(to right, #33001b, #ff0084);
    width: 100%;
    height: 380px;
    object-fit: cover;
  }
  
  
  .img:hover {
    transform: scale(1.3);
  }
  
  .img-container {
    display: grid;
    border-radius: .5rem 2rem;
    height: 360px;
    overflow: hidden;
  }
  
  .description {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    text-align: center;
    padding: .5rem 1em;
    width: 90%;
    transition: all 0.5s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    backdrop-filter: blur(.1rem);
    background: linear-gradient(50deg, white,blue, blue);
    border-radius: .5rem 2rem;
  }
  
  .description:hover {
    transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
    box-shadow: none;
  }
  
  .title {
    color: aliceblue;
  }